<div>
    <ul class="media-list">
        <li class="media" *ngFor="#msg of messages">
            <div class="media-left">
                <img class="media-object" width="80px" height="80px" src="http://localhost:3002/api/image/avatar" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{msg.message}}</h4>
                <p>{{msg.name}}</p>
                <p>{{msg.username}}</p>
                <p>{{msg.datetime}}</p>
                <img ng-src="msg.imageHash" />
            </div>
        </li>
    </ul>
</div>