<div class="panel" >
    <div class="panel-body" #scrollMe>
        <ul class="chat">
            <li *ngFor="#msg of messages; #idx = index">
                <nb-messagerow [message]="msg"></nb-messagerow>
            </li>       
        </ul>

    </div>
    <div class="panel-footer">
        <p style="min-height: 10px;"></p>
        <div class="input-group">
        <input type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." (keydown.enter)="onEnter($event)" [(ngModel)]="draftMessage.message"/>
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" (click)="onEnter($event)">Send</button>
        </span>
        </div>
    </div>
</div>
